@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        This Web Application was developed by Antonis Antonopoulos for the Indeavor - Junior Software Engineer - code challenge.
    </p>
</div>
